# Application Framework
fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
python-multipart

# Database
sqlalchemy
psycopg2-binary

# AI Service Libraries
ollama
faster-whisper
TTS

# Telephony
twilio
